.modalContainer1 .title1{
    width: 190px;
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    display: inline-block;
    text-align: center;
    margin-left: 75px;
    margin-top: -30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.13px;
}

.modalContainer1{
    width: 350px;
    border-radius: 12px;
    background-color: #2a2c33;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 0px;
}

.amount-input{
    width: 320px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: #3c3f4a;
    color: white;
}

.amount{
    font-size: 18px;
    color: white;
    margin-right: 293px;
    font-family: Gilroy-Bold, sans-serif;
}

.topUp{
    width: 350px;
    height: 46px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #d13131;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.topUp:hover{
    background-color: #d13131c0;
}

.body1{
    display: flex;
    flex-direction: column;
}