.footerBox {
    margin-top: -630px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footerBoxContent {
    background-color: rgb(49, 49, 49);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px 22px 25px 22px;
    margin-top: 650px;
}

.time10{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.57px;
    color: #fff;
    margin-right: 1150px;
}

.time18{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.57px;
    color: #fff;
    margin-right: 1147px;
    margin-top: 43px;
}

.footerConor{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-right: 660px;
}

.footerConor1{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-right: 660px;
    margin-top: 5px;
}

.today{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-right: 1131px;
    margin-top: 10px;
}

.date23{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-right: 1150px;
    margin-top: 5px;
}

.footerDustin{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-left: 750px;
    margin-top: -35px;
}

.footerImgOfConor{
    width: 80px;
    height: 60px;
    margin-left: 370px;
    margin-top: -45px;
}

.footerImgOfConor1{
    width: 80px;
    height: 60px;
    margin-left: 370px;
    margin-top: -45px;
}

.footerBet{
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 485px;
    margin-top: -48px;
}

.footerBet1{
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 485px;
    margin-top: -48px;
}


.redVS{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: red;
    margin-top: -45px;
    margin-left: 50px;
}

.footerBet256{
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 665px;
    margin-top: -54px;
}

.footerBet2561{
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 665px;
    margin-top: -54px;
}

.footerImgOfDustin{
    width: 80px;
    height: 60px;
    margin-left: 795px;
    margin-top: -60px;
}

.registeredFooterBet{
    display: none;
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 485px;
    margin-top: -48px;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.registeredFooterBet:hover{
    background-color: rgba(255, 255, 255, 0.32);
}

.registeredFooterBet1{
    display: none;
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 485px;
    margin-top: -48px;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.registeredFooterBet1:hover{
    background-color: rgba(255, 255, 255, 0.32);
}

.registeredFooterBet256{
    display: none;
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 665px;
    margin-top: -54px;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.registeredFooterBet256:hover{
    background-color: rgba(255, 255, 255, 0.32);
}

.registeredFooterBet2561{
    display: none;
    font-family: 'Gilroy-bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 54px;
    font-size: 26px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-align: center;
    margin-left: 665px;
    margin-top: -54px;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.registeredFooterBet2561:hover{
    background-color: rgba(255, 255, 255, 0.32);
}
