@media (max-width: 781px){

.navbar{
    height: 150px;
    flex-direction: column;
}

.weHaveBets{
    width: 300px;
    margin-top: 25px;
    margin-right: 25px;
}

.signUp{
    margin-bottom: 20px;
    margin-left: 100px;
}

.logIn{
    margin-bottom: 20px;
    width: 203px;
    height: 55px;
}
    
}

@media (max-width: 625px){

.signUp{
    margin-left: 0px;
    
}

.logIn{
    margin-right: 0px;
}

}

@media (max-width: 563px){

.modalContainer{
    width: 400px;
}

input{
    width: 400px;
}

.registration{
    width: 417px;
}

.logInModalContainer{
    width: 400px;
}

.logInModal{
    width: 417px;
    margin-left: -10px;
}

.titleCloseBtn1 button{
    margin-left: 350px;
}


}

@media (max-width: 461px){

.modalContainer{
    width: 350px;
}

.logInModalContainer{
    width: 350px;
}

.logInModal{
    width: 367px;
    margin-left: -10px;
}

.titleCloseBtn1 button{
    margin-left: 320px;
}
    
}

@media (max-width: 408px){

.titleCloseBtn1 button{
    margin-left: 270px;
}

}

@media (max-width: 441px){

.signUp{
    width: 170px;
    font-size: 18px;
    
}

.logIn{
    width: 170px;
}

}

@media (max-width: 374px){

.signUp{
    width: 150px;
    font-size: 16px;
    
}

.logIn{
    width: 150px;
}

}

@media (max-width: 408px){

.modalContainer{
    width: 300px;
}

.registration{
    width: 317px;
    margin-left: 50px;
    margin-right: 50px;
}

.logInModalContainer{
    width: 300px;
}

.logInModal{
    width: 317px;
    margin-left: -10px;
}

}

@media (max-width: 361px){

.modalContainer{
    width: 250px;
}

.registration{
    width: 267px;
    margin-left: 100px;
    margin-right: 100px;
}

.title{
    font-size: 13px;
}

.titleCloseBtn button{
    font-size: 18px;
}

.logInModalContainer{
    width: 250px;
}

.logInModal{
    width: 267px;
    margin-left: -10px;
}

.titleCloseBtn1 button{
    margin-left: 220px;
}

}

@media (max-width: 332px){

.signUp{
    width: 130px;
    font-size: 14px;
    
}

.logIn{
    width: 130px;
    font-size: 14px;
}

.weHaveBets{
    font-size: 20px;
    margin-left: 25px;
}


}

