.navbar {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(165, 36, 36);
  }

.signUp{
    width: 203px;
    height: 55px;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: currentColor;
    font-size: 18px;
    margin-right: 20px;
}

.signUp:hover{
    background-color: #9c000a57;
    color: white;
}

.logIn{
    width: 150px;
    height: 55px;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: currentColor;
    font-size: 18px;
    margin-right: 98px;
}

.logIn:hover{
    background-color: #9c000a57;
    color: white;
}


.weHaveBets{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.42px;
    color: white;
    margin-left: 50px;
}

.modalBackground {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContainer {
    width: 500px;
    border-radius: 12px;
    background-color: #2a2c33;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 0px;
}
  
.modalContainer .title {
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: -30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.13px;
}
  
.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}
  
.titleCloseBtn button {
    z-index: 1;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
  
.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.registration{
    width: 487px;
    height: 46px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #d13131;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.registration:hover{
    background-color: #d13131c0;
}

.logInModal{
    width: 487px;
    height: 46px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    border: 0;
    border-radius: 5px;
    background-color: #3c3f4a;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.logInModal:hover{
    background-color: rgba(141, 144, 150, 0.369)
}


.logInModalContainer .logInTitle {
    font-family: 'Gilroy-Bold', sans-serif;
    color: white;
    display: inline-block;
    text-align: center;
    margin-top: -30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.13px;
}

.logInModalContainer {
    width: 500px;
    border-radius: 12px;
    background-color: #2a2c33;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-top: 0px;
    align-items: center;
}

.titleCloseBtn1 {
    display: flex;
    justify-content: flex-end;
}
  
.titleCloseBtn1 button {
    z-index: 1;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    margin-left: 450px;
}

.balance{
    display: none;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.42px;
    color: #fff;
    margin-left: 50px;
}


.historyBets{
    display: none;
    width: 260px;
    height: 55px;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: currentColor;
    font-size: 18px;
    margin-right: 20px;
}

.historyBets:hover{
    background-color: #9c000a57;
    color: white;
}

.replenish{
    display: none;
    width: 290px;
    height: 55px;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: currentColor;
    font-size: 18px;
    margin-right: 20px;
}

.replenish:hover{
    background-color: #9c000a57;
    color: white;
}


.withdraw{
    display: none;
    width: 150px;
    height: 55px;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: bold;
    line-height: 1.75;
    letter-spacing: 1px;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: currentColor;
    font-size: 18px;
    margin-right: 98px;
}

.withdraw:hover{
    background-color: #9c000a57;
    color: white;
}


